<%include file="register-form.html"/>

<div class="uk-modal" id="login-form" ng-controller="LoginCtrl as login">
    <div class="uk-modal-dialog">
        <a class="uk-float-right uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h2>Log In</h2>
        </div>

        <form class="uk-width-1-2 uk-container-center uk-form">

            <label class="uk-form-row">Email</label>
            <input name="email" ng-model="login.user.email" class="uk-width-1-1">

            <label class="uk-form-row">Password</label>
            <input type="password" name="password" ng-model="login.user.password" class="uk-width-1-1">

            <br/>

            <div class="uk-button-group uk-margin-top uk-width-1-2 uk-align-center">
                <button ng-click="login.login()" class="uk-button uk-button-primary">Log In</button>
                <a ng-click="login.openRegisterForm()">
                    <button class="uk-button">Sign Up</button>
                </a>
            </div>
        </form>
    </div>

</div>


