<div uk-modal id="register-form" ng-controller="LoginCtrl as reg">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Register</h2>
        </div>

        <div class="uk-width-1-1 uk-flex uk-flex-center">
            <div class="uk-width-1-2 uk-form">

                <input ng-model="reg.user.first_name" placeholder="First name" class="uk-width-1-1 uk-input uk-form-large uk-margin-top">

                <input ng-model="reg.user.last_name" placeholder="Last name" class="uk-width-1-1 uk-input uk-form-large uk-margin-top">

                <input ng-model="reg.user.email" placeholder="Email" ng-class="{'uk-form-danger':!reg.emailValid}"
                       class="uk-width-1-1 uk-input uk-form-large uk-margin-top">

                <input type="password" placeholder="Password" ng-model="reg.user.password" ng-class="{'uk-form-danger': !reg.passwordEquals}"
                       class="uk-width-1-1 uk-input uk-form-large uk-margin-top">

                <input type="password" placeholder="Confirm password" ng-model="reg.user.confirmed_password"
                       ng-class="{'uk-form-danger': !reg.passwordEquals}" class="uk-width-1-1 uk-input uk-form-large uk-margin-top">

                <br/>

                <button class="uk-button uk-button-primary uk-button-large uk-margin-top uk-align-center"
                        ng-click="reg.register(reg.user)">
                    Register
                </button>
            </div>
        </div>
    </div>
</div>