<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <title>BookRoom <%block name='headerTitle'></%block></title>

    %for url in webassets(request, 'mincss'):
        <link href="${url}" type="text/css" rel="stylesheet">
    %endfor

    <script type="text/javascript" src="${request.route_path('js')}" ></script>
    %for url in webassets(request, 'minjs'):
        <script src="${h.fix_webasset(url)}"></script>
    %endfor

</head>
<body ng-app="BookRoomApp" class="ng-cloak uk-height-1-1">
    <header>
        <ul class="menu">
        <li class="menu-button">
          <div>BookRoom</div>
        </li>
        <li class="menu-button">
            <%block name='userName'>
                <a class="uk-link-reset" ng-click="openLoginForm()">Log in</a>
            </%block>
        </li>
        <li class="menu-button">
          <div>Blog</div>
        </li>
        <li class="menu-button">
          <div>About us</div>
        </li>
        <%block name='exitButton'>

        </%block>
      </ul>
    </header>

    ${self.body()}

    <%block name='main'>
    </%block>
</body>
</html>