<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <title>BookRoom <%block name='headerTitle'></%block></title>

    %for url in webassets(request, 'mincss'):
        <link href="${url}" type="text/css" rel="stylesheet">
    %endfor

    <script type="text/javascript" src="${request.route_path('js')}"></script>

    %for url in webassets(request, 'minjs'):
        <script src="${url}"></script>
    %endfor

</head>
<body ng-app="BookRoomApp" class="ng-cloak uk-height-1-1">
<header>
    <div class="uk-width-1-1 uk-flex uk-flex-center">
        <div class="uk-width-3-4 uk-flex uk-margin-small-top">
            <div class="uk-width-1-2 uk-flex">
                <div class="uk-flex uk-flex-middle">
                    <div class="menu-button uk-margin-left"><a class="uk-link-reset" ui-sref="home">Bookroom</a></div>
                    <div class="menu-button uk-margin-left"><a class="uk-link-reset" ui-sref="catalogue">Catalogue</a>
                    </div>
                    <div class="uk-flex-middle">
                        <div class="uk-margin-left uk-inline">
                            <span class="header-search-icon uk-form-icon" uk-icon="icon: search"></span>
                            <input class="uk-input menu-input" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2 uk-flex uk-flex-right">
                    <div class="uk-margin-right uk-float-right menu-button">
                        <%block name='userName'>
                    </%block>
                    </div>
                    <div class="menu-button">
                        <%block name='exitButton'>
                    </%block>
                    </div>
                </div>
        </div>
</header>

    ${self.body()}

    <%block name='main'>
    </%block>
</body>
</html>