<%inherit file="base.html"/>

<%block name='main'>
    <div ng-controller="HomeCtrl as home" class="uk-width-1-1 uk-flex uk-flex-center uk-height-1-1">
        <div class="uk-width-3-4 home-menu-body">
            <div class="uk-width-1-1 uk-height-1-1 uk-flex uk-flex-center">
                <div class="uk-width-9-10 uk-height-1-1 uk-flex uk-flex-column uk-flex-middle">
                    <div class="uk-width-2-3 uk-height-1-2 uk-flex main-book">
                        <div class="uk-width-1-3 uk-margin-large-top">
                            <a ng-href="/book/{{home.mainBook.id}}">
                                <img class="uk-width-3-4@xl uk-width-2-3@l uk-height-3-4@xl uk-height-2-3@l uk-margin-top"
                                     ng-src="static/img/books/{{home.mainBook.image}}">
                            </a>
                        </div>

                        <div class="uk-width-2-3">
                            <div class="uk-flex uk-flex-column uk-margin-large-top">
                                <div class="uk-margin-top">
                                    <a ng-href="/book/{{home.mainBook.id}}" style="text-decoration-color: #333"><h2
                                            class="main-book-name">{{home.mainBook.name}}</h2></a>
                                </div>
                                <div class="uk-text">
                                    <h4 class="main-book-text">
                                        {{home.mainBook.desc.slice(0, 849)}}
                                        <span class="uk-text-muted">...</span>
                                        <a ng-href="/book/{{home.mainBook.id}}">Read more</a>
                                    </h4>
                                </div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-width-1-3">
                                        <div class="main-rating">
                                            <input class="main-rating-input" type="radio" name="stars" id="4_stars"
                                                   value="5" ng-model="home.mainBook.rating" disabled>
                                            <label class="uk-width-1-5 main-rating-label main-stars" for="4_stars">4
                                                stars</label>
                                            <input class="main-rating-input" type="radio" name="stars" id="3_stars"
                                                   value="4" ng-model="home.mainBook.rating" disabled>
                                            <label class="uk-width-1-5 main-rating-label main-stars" for="3_stars">3
                                                stars</label>
                                            <input class="main-rating-input" type="radio" name="stars" id="2_stars"
                                                   value="3" ng-model="home.mainBook.rating" disabled>
                                            <label class="uk-width-1-5 main-rating-label main-stars" for="2_stars">2
                                                stars</label>
                                            <input class="main-rating-input" type="radio" name="stars" id="1_stars"
                                                   value="2" ng-model="home.mainBook.rating" disabled>
                                            <label class="uk-width-1-5 main-rating-label main-stars" for="1_stars">1
                                                star</label>
                                            <input class="main-rating-input" type="radio" name="stars" id="0_stars"
                                                   value="1" ng-model="home.mainBook.rating" disabled>
                                            <label class="uk-width-1-5 main-rating-label main-stars" for="0_stars">0
                                                star</label>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2 uk-flex uk-flex-right uk-margin-right">
                                        <a ng-href="/book/{{home.mainBook.id}}" class="uk-margin-right">Reviews</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-1 uk-flex main-reviews-margin">
                        <div class="uk-width-1-1 uk-margin-medium-top uk-flex uk-flex-middle">
                            <div class="uk-width-1-1 uk-flex uk-flex-around">
                                <div class="uk-width-1-10 uk-flex uk-margin-left uk-margin-right"
                                     ng-repeat="review in home.mainReviews">
                                    <div class="uk-margin-left uk-width-1-4">
                                        <a ng-href="/user/{{review.user_id}}">
                                            <img ng-if="!review.user_avatar" src="static/img/unknown_user.png"/>
                                            <img ng-if="review.user_avatar"
                                                 ng-src="static/img/users/{{review.user_avatar}}"/>
                                        </a>
                                    </div>
                                    <div class="uk-width-7-10 uk-margin-left uk-flex uk-flex-column">
                                        <div class="main-review-title">
                                            <a ng-href="/user/{{review.user_id}}" class="main-review-user">{{review.user_fname}}
                                                {{review.user_lname}}</a> > <a ng-href="/book/{{review.book_id}}"
                                                                               class="main-review-book">{{review.book_name}}</a>
                                        </div>
                                        <div class="uk-text-small uk-text-muted">Created on:</div>
                                        <div>
                                            <div class="main-review-text">
                                                {{review.body}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%block>