<%inherit file="base.html"/>
<%include file="forms/login-form.html"/>

<%block name='userName'>
    %if not session.get('loged_as'):
        <div ng-controller="AppCtrl">
            <a class="uk-link-reset" ng-click="openLoginForm()">Log in</a>
        </div>
    %else:
        <div ng-controller="HomeCtrl as userCtrl" class="uk-margin-small-right">
            <a class="uk-link-reset">${session.get('loged_as')['first_name']} ${session.get('loged_as')['last_name']}</a>
        </div>
    %endif
</%block>

<%block name='exitButton'>
    %if session.get('loged_as'):
        <div class="uk-margin-right">
            <a class="uk-link-reset" href="${request.route_path('logout')}">Log out</a>
        </div>
    %endif
</%block>


<%block name='main'>
    <div class="uk-height-1-1" ng-controller="HomeCtrl as home" ui-view="main">
    </div>
</%block>