<%inherit file="../../base.html"/>
<%include file="../../forms/user-form.html"/>

<%block name='headerTitle'>
    | Home
</%block>

<%block name='userName'>
    <div ng-controller="HomeCtrl as userCtrl">
        <a ng-click="userCtrl.openUserSetting()" class="uk-link-reset"
           href="#">${session.get('loged_as')['first_name']} ${session.get('loged_as')['last_name']}</a ng-click="userCtrl.openUserSetting()">
    </div>
</%block>


<%block name="aboutUs">
</%block>

<%block name='exitButton'>
    <li class="menu-button">
        <div>
            <a class="uk-link-reset" href="${request.route_path('logout')}">Exit</a>
        </div>
    </li>
</%block>

<%block name='main'>

    <div ng-controller="HomeCtrl as home" class="uk-width-1-1 uk-height-1-1">
        <div class="uk-width-3-4 uk-height-1-1 uk-container-center uk-flex">
            <div class="home-menu-block uk-width-1-3 uk-height-1-1">
                <ul class="menu-list uk-flex uk-flex-column uk-margin-right main-menu"
                    data-uk-switcher="{connect:'#mainSwitcher'}">
                    <li class="uk-active uk-flex uk-flex-right"><h2 class="home-menu-element">Catalog</h2></li>
                    <li class="uk-flex uk-flex-right"><h2 class="home-menu-element">Users</h2></li>
                    %if request.has_permission('view'):
                    <li class="uk-flex uk-flex-right"><h2 class="home-menu-element">Test</h2></li>
                    %endif
                </ul>
            </div>
            <div class="home-menu-body uk-width-1-1 uk-height-1-1">
                <ul id="mainSwitcher" class="uk-switcher">
                    <li class=""><%include file="marketplace.html"/></li>
                    <li class=""><%include file="library.html"/></li>
                </ul>
            </div>
        </div>
    </div>
</%block>