@font-face {
    font-family: Darencorp;
    src: url(../fonts/Ubuntu-C.ttf) format("truetype");
}

body {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia, Arial;
    overflow: hidden;
    font-family: Darencorp;
}

header {
    width: 100%;
    height: 3em;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}

.menu {
    float: right;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-button{
    height: 100%;
    margin-left: auto;
    justify-content: flex-end;
    color: azure;
    font-family: Darencorp;
    font-size: 18px;
    margin-right: 2em;
    margin-top: 0.5em;
}

.menu-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-list {
    margin-top: 5em;
}

.menu-list li h2{
    font-size: 2.1em;
}

.home-menu-block {
    background: rgba(1, 8, 25, 0.5);
}

.home-menu-element {
    font-family: Darencorp;
    color: azure;
    cursor: pointer;
}

.home-menu-element:hover{
    text-decoration: underline;
    text-decoration-color: azure;
}

.home-menu-body {
    background-color: rgba(124,141,171,0.45);
}

.home-menu-body ::-webkit-scrollbar {
    width: 0px !important;
}

.home-menu-body-element {
    border: none azure;
    border-left: 1px solid;

    resize: none;
    height: 45.7em;
}

.modal-footer-padding {
    padding-bottom: 2em;
}

