@font-face {
    font-family: Darencorp;
    src: url(../fonts/Ubuntu-C.ttf) format("truetype");
}

@font-face {
    font-family: Personality;
    src: url(../fonts/FournierMTS.ttf) format("truetype");
}

.main-menu li a h2{
    font-family: Darencorp;
    color: azure;
}