<%inherit file="../base.html"/>

<%include file="../forms/login-form.html"/>
<%include file="../forms/register-form.html"/>

<%block name='main'>
    <div class="uk-width-1-1 uk-flex uk-flex-center" uk-height-viewport>
        <div class="uk-width-3-4 home-menu-body">
            <div class="uk-flex uk-flex-column uk-flex-middle uk-margin-xlarge-top">
                <div class="uk-text-large">
                    Created by Nazariy Mandebura
                </div>
                <div class="uk-text-muted">
                    darencorp: <a class="uk-link"
                                  href="https://github.com/darencorp">https://github.com/darencorp</a>
                </div>
                <div class="uk-position-bottom-center uk-margin-large-bottom">
                    <div class="uk-flex uk-flex-column uk-flex-middle">
                        <div>
                            All info is taken form open resources and Wikipedia
                        </div>
                        <div class="uk-text-small uk-text-muted">
                            Rzeszow, 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%block>