<%inherit file="../base.html"/>

<%block name="main">
    <div ng-controller="SearchCtrl as sctrl" class="uk-width-1-1 uk-flex uk-flex-center" uk-height-viewport>
        <div class="uk-width-3-4 home-menu-body uk-flex uk-flex-center">
            %if is_genre is None:
                <div class="uk-width-4-5 uk-margin-large-top">
                    <div ng-if="sctrl.containsBooks()">
                        <div class="uk-heading-divider uk-text-large">Books</div>
                        <div class="uk-margin-top uk-flex uk-flex-wrap">
                            <a ng-href="/book/{{result.id}}" ng-repeat="result in sctrl.results | books"
                               class="uk-width-1-5 uk-card uk-card-default uk-card-hover uk-margin-left uk-margin-bottom global-search-result uk-link-reset">
                                <div class="uk-width-1-1 uk-flex uk-flex-middle uk-flex-column">
                                    <div class="uk-width-1-2 uk-margin-top">
                                        <img class="" ng-src="/static/img/books/{{result.image}}">
                                    </div>
                                    <div class="uk-text-small uk-margin-small-top uk-margin-small-bottom">
                                        <div>{{result.name}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div ng-if="sctrl.containsUsers()" class="uk-margin-top">
                        <div class="uk-heading-divider uk-text-large">Users</div>
                        <div class="uk-margin-top uk-flex uk-flex-wrap">
                            <a ng-href="/user/{{result.id}}" ng-repeat="result in sctrl.results | users"
                               class="uk-width-1-5 uk-card uk-card-default uk-card-hover uk-margin-left uk-margin-bottom global-search-result uk-link-reset">
                                <div class="uk-width-1-1 uk-flex uk-flex-middle uk-flex-column">
                                    <div ng-if="result.avatar" class="uk-width-1-2 uk-margin-top">
                                        <img class="" ng-src="/static/img/users/{{result.avatar}}">
                                    </div>
                                    <div ng-if="!result.avatar" class="uk-width-1-2 uk-margin-top">
                                        <img class="" ng-src="/static/img/unknown_user.png">
                                    </div>
                                    <div class="uk-text-small uk-margin-small-top uk-margin-small-bottom">
                                        <div>{{result.first_name}} {{result.last_name}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            %else:
                <div class="uk-width-4-5 uk-margin-large-top">
                    <div class="uk-heading-divider uk-text-large">{{sctrl.query}}</div>
                        <div class="uk-margin-top uk-flex uk-flex-wrap">
                            <a ng-href="/book/{{result.id}}" ng-repeat="result in sctrl.genreResults"
                               class="uk-width-1-5 uk-card uk-card-default uk-card-hover uk-margin-left uk-margin-bottom global-search-result uk-link-reset">
                                <div class="uk-width-1-1 uk-flex uk-flex-middle uk-flex-column">
                                    <div class="uk-width-1-2 uk-margin-top">
                                        <img class="" ng-src="/static/img/books/{{result.image}}">
                                    </div>
                                    <div class="uk-text-small uk-margin-small-top uk-margin-small-bottom">
                                        <div>{{result.name}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            %endif
        </div>
    </div>
</%block>
